/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9; /* Thêm màu nền cho body */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: #fff;
    padding: 10px 20px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin: 0 10px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #ff5722;
}
.banner {
    display: flex;
}
.banner img {
    /* Định nghĩa kích thước ảnh trong CSS */
}
.resize-image {
    width: 1200px;   /* Đặt chiều rộng ảnh là 800px */
    height: 800px;  /* Đặt chiều cao ảnh là 600px */
    object-fit: cover;  /* Giữ tỷ lệ khung hình ảnh */
}

    
    


.content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-column {
    flex: 1;
    margin-right: 20px;
}

.product-section {
    flex: 3;
}

.product-background img {
    .resize-image {
        width: 100%;        /* Ảnh sẽ chiếm toàn bộ chiều rộng của phần tử chứa */
        max-width: 1000px;   /* Giới hạn chiều rộng tối đa là 800px */
        height: auto;       /* Giữ tỷ lệ khung hình của ảnh */
    }
    
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product {
    background: #f4f4f4;
    padding: 10px;
    text-align: center;
    border: 2px solid transparent;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.product:hover {
    transform: scale(1.05);
    border-color: #ff5722;
}

.product img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.footer-links div {
    flex: 1;
    margin-right: 20px;
}

.footer-links h4 {
    margin-bottom: 10px;
}

.footer-links p {
    margin-bottom: 5px;
}

.footer-links input[type="email"] {
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

.footer-links input[type="email"]:focus {
    outline: none;
    border: 2px solid #ff5722;
}
